@import '../../components/view-recipe/view-recipes';
@import '../../components/login/login';
@import '../../components/your-recipes/your-recipes';

$main-green: #99B898;
$main-tan: #D6B397;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

h1 {

  font-family: 'Cookie', cursive;
  text-align: center;
  // margin-bottom: 1em;

}

body {
  // padding-top: 70px;
  font-family: Quicksand, sans-serif;
}

.navbar-default {
  background-color: $main-green;
  h4 {
  color: white;
  }
}


.navbar-default li:hover {
  cursor: pointer;
  background-color: $main-tan;
}

.navbar-default li:active {
  cursor: pointer;
  background-color: $main-tan;
}

.navbar-brand {
  margin-top: -20px;
  height: 100px;
}

.navbar-nav li a {
  height: 80px;
}

.logo-small {
  font-family: 'Cookie', cursive;
  font-size: 50px;
  color: $main-tan;
   text-shadow:
       2px 2px 0 white,
     -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
}


.form-container {
  padding: 10px;
  margin: 20px;
}

.form-title {
  padding: 10px;
  text-align: center;
}


#email, #password {
  margin-top: 20px;
}

input.ng-dirty.ng-invalid {
  color: red
}



.login {
  float: left;
  padding: 15px;
}



.container-fluid {
  position: relative;
  z-index: 100;
}




.categories {
  margin: 1px;
  background-color: rgba(199, 149, 109, 0.9);
  border: 1px solid #fff;
  text-transform: capitalize;

}

.categories:hover {
  background-color: $main-green;
  color: #fff;
}

button.on {
  background-color: $main-green;
  color: #fff;
}

.footer {
  margin: 0 auto;
  padding: 40px;
  clear: both;
  // position: absolute;
}

.well-lg {
    border-radius-bottom-left: 7px;
    border-radius-top-left: 7px;
    border-radius-bottom-right: 0;
    border-radius-bottom-left: 0;
}