.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

h1 {
	font-family: 'Cookie', cursive;
	font-size: 90px;
	color: #99B898;
  padding: 5px;
}

body {
  font-family: Quicksand, sans-serif;
  
}

li {
  color: #C7956D;
  font-size: 15px;
}

.login {
  float: right;
  padding: 15px;
}

.recipe-holder {
  // border: 1px solid #C7956D;
  // background: #C7956D;
 
  padding: 5px;
  margin-bottom: 5px;
}

.footer {
  margin: 0 auto;
  padding: 40px;
}