@import 'view-recipes';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.nav {
  background-color: #99B898;
  h4 { 
  color: white;
  }
}

.nav li:hover {
  cursor: pointer;
  background-color: rgba(199, 149, 109, 0.7);
  h4 { 
  color: white;
  }
} 

h1 {
  padding-top: 25px;
  font-family: 'Cookie', cursive;
  font-size: 90px;
  text-align: center;
   // -webkit-text-stroke: 5px #C7956D;
   color: #99B898;
   text-shadow:
       2px 2px 0 white,
     -1px -1px 0 white,  
      1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
}

.logo-wrapper {
  margin: 0 auto;
  margin-top: -20px;
  background-color: rgba(199, 149, 109, 0.7);
  width: 400px;
  padding: 5px;
  border-bottom-left-radius: 15px;

   }



body {
  font-family: Quicksand, sans-serif;
  
}

li {
  color: #C7956D;
  font-size: 15px;
}

.login {
  float: left;
  padding: 15px;
}

.recipe-holder {
  padding: 5px;
  margin: 15px;  
}

img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.recipe-caption {
  cursor: pointer;
  display: block;
  padding: 15px;
  height: 85px;
  background-color: rgb(199, 149, 109);
  background-color: rgba(199, 149, 109, 0.5);
  width: 300px;
  text-align: center;
  border-bottom-right-radius: 10px;

}

.recipe-caption:hover {
  color: #fff;
  background-color: rgba(199, 149, 109, 0.9);
      h4 { 
        font-size: 20px;
    }
}

img:hover {
  cursor: pointer;
  opacity: 0.7;
}
.categories {
  margin: 1px;
  background-color: rgba(199, 149, 109, 0.9);
  border: 1px solid #fff;

}

.categories:hover {
  background-color: #99B898;
  color: #fff;
  border: 0px;
}

button.on {
  background-color: #99B898;
  color: #fff;
  border: 0px;
}

.footer {
  margin: 0 auto;
  padding: 40px;
}