<div="add-recipe"> 
<br /> <br />
<form ng-submit="newRecipe" novalidate>
	Recipe title: <input type="text" ng-model="newRecipe.title">
	Ingredients: <input type="text" ng-model="newRecipe.ingredients">
	Directions: <input type="text" ng-model="newRecipe.directions">
	
	
</form>

<form ng-submit="upload()" method="post" enctype="multipart/form-data" novalidate>

	<input type="hidden" name="success_action_redirect" value="http://recipe-box.s3.amazonaws.com/successful_upload.html" />

	<input type="file" ng-file-select="onFileSelect($files)">
	<!-- <input type="file" accept="image/*"> -->
	<br />
	<button ng-click="upload.abort()">Cancel upload</button>

	<button type="submit" ng-disabled="form.$invalid || isUnchanged(user)">Add recipe</button>
</form>
</div>
