
<h3>Add a recipe</h3> 
<!-- <form ng-submit="addRecipe(newRecipe)" name="newRecipe" ng-controller="addRecipeCtrl" class="form-horizontal" > -->


<form name="newRecipe" ng-controller="addRecipeCtrl" class="form-horizontal" ng-submit="upload(); addRecipe(newRecipe)" method="post" enctype="multipart/form-data" novalidate>


<div class="form-group">

	<input type="hidden" name="success_action_redirect" value="http://recipe-box.s3.amazonaws.com/successful_upload.html" />
	
	<label for="title">Recipe title:</label>
	<input type="text" id="title" class="form-control" ng-model="newRecipe.title">
	 
	<label for="ingredients">Ingredients:</label> <input type="text" id="title" class="form-control" ng-model="newRecipe.ingredients"><br />

	<label for="directions">Directions:</label>
	<input type="text" id="directions" class="form-control"ng-model="newRecipe.directions">
	
	<label for="pic">Select a photo:</label>
	<input class="pic" type="file" ng-file-select="onFileSelect($files)" accept="image/*">
	<br />

	<button type="submit" ng-disabled="form.$invalid || isUnchanged(newRecipe)">Add recipe</button>
</form>
</div>
