<nav class="logged-in-nav navbar navbar-default" ng-controller="NavbarCtrl" role="navigation" ng-show="user">
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#recipe-box-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand"><h1 class="logo-small">Recipe Box</h1></a>
</div>

<div class="collapse navbar-collapse" id="recipe-box-nav">

  <ul class="nav navbar-nav navbar-right">

	  <li><a ng-click="goRecipe('your-recipes')"><h4>Your recipes</h4></a></li>

		<li><a ng-click="goRecipe('new')"><h4>Add recipe</h4></a>
		</li>

	  <li ng-show="user" ng-controller="AuthCtrl">
	  	<a href="#" ng-click="signOut()"><h4>Sign out</h4></a>
	  </li>
	 </ul>
   </div>

</nav>


