/* Overlay style */


.splash {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #fff;
	background: RGBA(153, 184, 152, 0.98);
}

.view-recipe-pic {
	border-radius: 0px;
}



/* splash closing cross */
.splash .splash-close {
	// width: 80px;
	// height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: RGBA(153, 184, 152, 0.98);

	outline: none;
	z-index: 100;
}

/* Menu style */
.splash nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.splash ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.splash ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.splash ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.splash ul li a:hover,
.splash ul li a:focus {
	color: #e3fcb1;
}

/* Effects */
.splash-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.splash-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

// .splash-hugeinc nav {
// 	-webkit-perspective: 1200px;
// 	perspective: 1200px;
// }

// .splash-hugeinc nav ul {
// 	opacity: 0.4;
// 	-webkit-transform: translateY(-25%) rotateX(35deg);
// 	transform: translateY(-25%) rotateX(35deg);
// 	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
// 	transition: transform 0.5s, opacity 0.5s;
// }

// .splash-hugeinc.open nav ul {
// 	opacity: 1;
// 	-webkit-transform: rotateX(0deg);
// 	transform: rotateX(0deg);
// }

// .splash-hugeinc.close nav ul {
// 	-webkit-transform: translateY(25%) rotateX(-35deg);
// 	transform: translateY(25%) rotateX(-35deg);
// }

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}