/* Overlay style */
$main-green: #99B898;
$main-tan: #D6B397;

.splash {
    position: fixed;
    background: RGBA(226, 201, 181, 0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    transition: opacity 0.5s, visibility 0s 0.5s;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
}

.splash-open.splash {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.splash .splash-inner {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,150px);
    transform: translate3d(0,0,150px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}


.splash-open.splash .splash-inner {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.splash .splash-content {
    width: 660px;
    height: 350px;
    position: absolute;
    top: 22%;
    left: 50%;
    margin: -175px 0 0 -330px;
    color: #000;
    font-size: 16px;
}


.view-recipe-pic {
	border-radius: 0px;

}

.view-recipe-pic:hover {
    opacity: 1.0;

}


.view-title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 10px;
    font-size: 16;
    // text-shadow:
    //    2px 2px 0 white,
    //  -1px -1px 0 white,
    //   1px -1px 0 white,
    //   -1px 1px 0 white,
    //    1px 1px 0 white;
}

.view-title-holder {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 255px;
    height: 70px;
    width: 300px;
    background: RGBA(163, 160, 169, 0.8);
}



.delete, .favorite, .share, .edit {
	border: none;
	overflow: hidden;
	border: none;
	background: RGBA(245, 245, 245, 1);
    font-size: 20px;
	outline: none;
	z-index: 100;
    color: RGBA(163, 160, 169, 1);
}


/* splash closing cross */
.splash .splash-close {
	// width: 80px;
	// height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: RGBA(245, 245, 245, 1);
    font-size: 30px;
	outline: none;
	z-index: 100;
    color: RGBA(163, 160, 169, 1);
}

.ingredients, .directions {
    padding-top: 10px;
    p {
        font-size: 14px;
        text-align: left;
    }
}


