$main-green: #99B898;
$main-tan: #D6B397;

.login-wrap {
  background: RGBA(153, 184, 152, 0.9);
  margin: 50px;
  padding: 50px;
  color: white;
  text-align: center;
}

.teaser {
  padding-bottom: 20px;
}


.login-bkgrd {
  background: url(../../assets/brownies-background.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  padding-top: 200px;

}

.login-bkgrd:after {
  opacity: 1.0;
}

.logo {
  font-family: 'Cookie', cursive;
  font-size: 90px;
  text-align: center;
   color: $main-green;
   text-shadow:
       2px 2px 0 white,
     -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
}

.logo-wrapper {
  background-color: $main-tan;
  width: 375px;
  height: 140px;
  padding-bottom: 5px;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 0;
  z-index: 200;

  }