<div class="container-fluid" >
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
<div ng-hide="!recipes.length" ng-repeat="tag in tags" ng-click="viewCategory(tag)" class="tag-links">{{tag}}</div>
</div>
</div>
	<div class="wrap">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="r in recipes">
				<div ng-click="openRecipe(r)" class="recipe-holder">
					<img class="thumbs image-responsive" src="{{r.image}}" style="width: 300px; height: 300px;" />
					<div class="recipe-caption">
						<h4 class="r-title">{{r.title | uppercase }} </h4>
					</div><!--end of caption -->
				</div><!--end of recipe holder -->
			</div> <!--end of column -->
		</div><!--end of row -->
		<!-- welcome/add recipes -->
		<div ng-show="recipesLoaded && recipes.length == 0" class="no-recipes" >
			<a ng-href="/#/new">
				<div class="no-recipe-stripe">
					<h2 class="no-recipe-welcome">Welcome!</h2>
					<h2 class="no-recipe-note">Add your first recipe!</h2>
				</div>
				<img class="no-recipe-img" src="./../assets/brownies-background.jpg" width="500px" />
			</a>
		</div>

	</div><!--end of wrap -->
</div> <!--end of container -->

<!-- maybe do an on-click display -->

