<p ng-controller="YourRecipesCtrl">hi :)</p>

<div class="row">
        <div class="col-lg-4">
        <div class="recipe-holder">
          <img class="foodpic" src="./assets/images/cookies.jpg" alt="Generic placeholder image" style="width: 350px; height: 350px;">
          <h3>Honey Almond Apple Breakfast Cookies</h3>
           </div>
           
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <div class="recipe-holder">
          <img class="foodpic" src="./assets/images/smores.jpg" alt="Generic placeholder image" style="width: 350px; height: 350px;">
          <h3>Dark Chocolate Peanut Buttercup S'mores</h3>
          </div> 
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <div class="recipe-holder">
          <img class="foodpic" src="./assets/images/frenchtoast.jpg" alt="Generic placeholder image" style="width: 350px; height: 350px;">
          <h3>French Toast Sticks with Chocolate Almond Butter</h3>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
<div class="row">
        <div class="col-lg-4">
        <div class="recipe-holder">
          <img class="foodpic" src="./assets/images/donuts.jpg" alt="Generic placeholder image" style="width: 350px; height: 350px;">
          <h3>Vanilla Almond Baked Donut Holes</h3>
          </div>
                  </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>