$main-green: #99B898;
$main-tan: #D6B397;

.wrap {
  padding: 50px;
}


.tag-links {
  background-color: $main-tan;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;


}

.tag-links:hover {
  background-color: $main-green;
  color: #fff;
  padding: 20px;
  cursor: pointer;
}

.recipe-holder {
  padding: 5px;
  margin: 15px;
}

img {
  // border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.recipe-caption {
  cursor: pointer;
  display: block;
  padding: 15px;
  height: 85px;
  background-color: rgb(199, 149, 109);
  background-color: rgba(199, 149, 109, 0.5);
  width: 300px;
  text-align: center;
  border-bottom-right-radius: 10px;

}

.recipe-caption:hover {
  color: #fff;
  background-color: rgba(199, 149, 109, 0.9);
      h4 {
        font-size: 20px;
    }
}

img:hover {
  cursor: pointer;
  opacity: 0.7;
}